*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
body {

    height: 100vh;
    border: 1px solid red;
    background: #178;
}
.fox{
    top: 50%;
    left: 50%;
    width: 215px;
    height: 275px;
    position: relative;
    transform: translate(-50%,-50%);

}
.head{
    position: absolute;
    height: 182px;
    width: 182px;
    background-color: #cf712f;
    border-radius: 50%;
    left: 32px;
    z-index: 2;
    overflow: hidden;
}
.head::before, .head::after{
    content:'';
    width: 182px;
    height: 182px;
    background-color: white;
    border-radius: 50%;
    bottom: -91px;
    position: absolute;
    z-index: 1;

}
.head::before{
    left:-91px;
}
.head::after{
    right:-91px;
}

.head .eye{
    width: 18px;
    height: 9px;
    border-radius: 18px 18px 0 0;
    background-color:  black;
    /* transform:rotate( 45deg); */
    position: absolute;
    z-index: 2;
    bottom: 38px;
    animation: blink 5s step-start 0s infinite;
}
.head .eye:nth-child(odd){
    left: 36px;
    transform: rotate(45deg);

}
.head .eye:nth-child(even){
    right: 36px;
    transform: rotate(-45deg);

}
.ear{
    width: 93px;
    height: 93px;
    display: block;
    background: #ff9090;
    position: absolute;
    top: 0px;
}
.ear:nth-child(odd){
    border-radius: 0 93px 0 0;
    left: 33px;
}
.ear:nth-child(even){
    border-radius: 93px 0 0 0;
    right: 2px;

}

.nose{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    margin-right:-28px;
    top: 169px;
    z-index: 2;
    background-color: black;
}
.body{
    width: 106px;
    height: 212px;
    display: block;
    background: #cf712f;
    border-radius: 0 424px 424px 0;
    position: absolute;
    z-index: -1;
    bottom: 1px;
    right: 0px;
}
.tail{
    width: 212px;
    height: 106px;
    position: absolute;
    background-color: #cf712f;
    border-radius: 106px;
    z-index: -1;
    top:168px;
    overflow: hidden;
    border-radius:  0 0 424px 424px;
}
.tail::after{
    content:'';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 0 0 60px 0;
    background-color: white;
}

@keyframes blink{
    15% {
        height: 1px;
    }
    45% {
        height: 9px;
    }
    50% {
        height: 1px;
    }
}


.fox:hover .ear:nth-child(odd) {
    left: 48px;
}
.fox:hover .ear:nth-child(even) {
    right: -1px;
    top: 22px;
}
.fox:hover .nose {
    width: 20px;
    height: 20px;
    top: 168px;
    right: 133px;
}
.fox:hover .ear, .fox:hover .head{
    transform: rotate(15deg);
    background: #dbffff;
}
.fox:hover .head, .fox:hover .body, .fox:hover .tail{
    background-color: #afd6e4;

}

























