*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.code-wrapper{
    flex:1;
    height: 50%;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    padding-left: 60px;
}
#code{
    overflow: auto;
    height: 100%;
}
.preview-wrapper{
    flex:1;
    height: 50%;
}

.actions{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.actions> button{
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
}
.actions> button.active{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
.actions>button:focus{
    outline: none;
}



















